[Unit]
Description=node.js instance
Requires=nginx.service
After=nginx.service
[Service]
User=launy
Group=www-data
WorkingDirectory=/home/launy/code/watermon
ExecStart=/home/launy/.nvm/versions/node/v21.6.0/bin/node server.js
Restart=always
RestartSec=1
[Install]
WantedBy=multi-user.target
